In [13]:
import pandas as pd
import re

In [3]:
Paperid_author_df = pd.read_csv('/data02/MAG_PROCESSED_DATA/2019FILE/PaperAuthorAffiliation_2019.csv')

In [4]:
len(Paperid_author_df)-16437465

13261598

In [5]:
Paperid_author_df_first = Paperid_author_df[Paperid_author_df['AuthorSequenceNumber']==1]

In [6]:
Paperid_author_df_last =Paperid_author_df[Paperid_author_df.groupby(['PaperId'])['AuthorSequenceNumber'].transform(max) == Paperid_author_df['AuthorSequenceNumber']]

In [7]:
Paperid_author_df_last

,PaperId,AuthorId,AffiliationId,AuthorSequenceNumber,OriginalAuthor,OriginalAffiliation
769,7100,142944460,120760893.0,4,Tristan A Canare,Asian Institute of Management Policy Center
24912,255444,2611952845,52357470.0,1,Ryan D. Shaughnessy,The Ohio State University
29163,299788,2066108598,NaN,1,Marjolein Wintzen,NaN
50332,526736,2631004930,NaN,1,Jessica Glicken Turnley,NaN
50973,533592,2421589540,NaN,1,Stefano Raschietti,NaN
...,...,...,...,...,...,...
720927428,3204966767,3203928662,NaN,1,Steven Crump,NaN
720927978,3204967588,3204462236,NaN,2,Desan Iyer,NaN
720928029,3204967664,3203931139,NaN,1,Arfan Arsyad,NaN
720928605,3204968543,2742007466,NaN,3,Ir. M. Nur Cahyanto,NaN
720928615,3204968560,3122630069,NaN,3,张瑶瑶,NaN

In [8]:
Paperid_author_df_first

,PaperId,AuthorId,AffiliationId,AuthorSequenceNumber,OriginalAuthor,OriginalAffiliation
771,7100,2285146092,19722.0,1,Ronald U Mendoza,Ateneo De Manila University - Ateneo School of...
24912,255444,2611952845,52357470.0,1,Ryan D. Shaughnessy,The Ohio State University
29163,299788,2066108598,NaN,1,Marjolein Wintzen,NaN
50332,526736,2631004930,NaN,1,Jessica Glicken Turnley,NaN
50973,533592,2421589540,NaN,1,Stefano Raschietti,NaN
...,...,...,...,...,...,...
720927428,3204966767,3203928662,NaN,1,Steven Crump,NaN
720927977,3204967588,3201917616,NaN,1,Mafuku Tholaine Matadi,NaN
720928029,3204967664,3203931139,NaN,1,Arfan Arsyad,NaN
720928606,3204968543,3204904606,NaN,1,Annisa Aulia Rahmah,NaN
720928616,3204968560,3125294930,NaN,1,伍广朋,NaN

In [9]:
Paperid_author_df_first_last = pd.concat([Paperid_author_df_first,Paperid_author_df_last])

In [10]:
Paperid_author_df_first_last

,PaperId,AuthorId,AffiliationId,AuthorSequenceNumber,OriginalAuthor,OriginalAffiliation
771,7100,2285146092,19722.0,1,Ronald U Mendoza,Ateneo De Manila University - Ateneo School of...
24912,255444,2611952845,52357470.0,1,Ryan D. Shaughnessy,The Ohio State University
29163,299788,2066108598,NaN,1,Marjolein Wintzen,NaN
50332,526736,2631004930,NaN,1,Jessica Glicken Turnley,NaN
50973,533592,2421589540,NaN,1,Stefano Raschietti,NaN
...,...,...,...,...,...,...
720927428,3204966767,3203928662,NaN,1,Steven Crump,NaN
720927978,3204967588,3204462236,NaN,2,Desan Iyer,NaN
720928029,3204967664,3203931139,NaN,1,Arfan Arsyad,NaN
720928605,3204968543,2742007466,NaN,3,Ir. M. Nur Cahyanto,NaN
720928615,3204968560,3122630069,NaN,3,张瑶瑶,NaN

# Genderize

In [16]:
! pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /home/munj/anaconda3/lib/python3.7/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/munj/anaconda3/lib/python3.7/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in /home/munj/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->wikipedia) (1.9.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/munj/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/munj/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in /home/munj/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/munj/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp37-none-any.whl size=11686 sha256=5168535455bbe043017979b62b328273bd9b021a4e051f1553194c757bcd911d
  Stored in directory: /home/munj/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [17]:
from Wiki_Gendersort.Wiki_Gendersort import nameclean

In [115]:
from genderize_1.genderize import Genderize
print(Genderize().get(['James', 'Eva', 'Thunderhorse']))

[{'name': 'James', 'gender': 'male', 'probability': 0.99, 'count': 117309}, {'name': 'Eva', 'gender': 'female', 'probability': 0.98, 'count': 135031}, {'name': 'Thunderhorse', 'gender': 'male', 'probability': 1.0, 'count': 1}]

In [92]:
pd.DataFrame(Genderize().get(['James', 'Eva', 'Thunderhorse']))

           name  gender  probability   count
0         James    male         0.99  117309
1           Eva  female         0.98  135031
2  Thunderhorse    male         1.00       1

In [22]:
Paperid_author_df_first_last['OriginalAuthor'][771]

'Ronald U Mendoza'

In [27]:
clean_name('Ronald U Mendoza')

RonaldUMendoza

''

In [26]:
def clean_name(name):



    name_list = name.split(" ")
    del name_list[-1]
    
    firstname = ""
    for char in name_list:
        
        if len(char) ==0:
            continue
            
        if '.' in char:
            continue
        if len(char) ==1:
            continue
        else:
            firstname = char
            break
        
#     firstname = " ".join(firstname_list)
    return firstname.lower()

In [15]:
cleaned_name =Paperid_author_df_first_last['OriginalAuthor'].apply(lambda x: clean_name(x))

In [19]:
cleaned_name.head()

771
24912
29163
50332
50973
Name: OriginalAuthor, dtype: object

In [17]:
cleaned_name_set = set(cleaned_name)

In [18]:
len(cleaned_name_set)

1

In [35]:
for v,i in enumerate(cleaned_name_set):
    if v == 4:
        print(i)

sierin

In [117]:

genderize = Genderize(
    api_key='c8f478f94f119d5fd5cf96fc323584f3',
    timeout=5.0)

In [100]:
gender_result_first_name = genderize.get(list(cleaned_name_set)[:5])

In [101]:
gender_result_first_name

[{'name': '', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'marchev', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'bonnemaire', 'gender': None, 'probability': 0.0, 'count': 0},
 {'name': 'philipps', 'gender': 'male', 'probability': 0.73, 'count': 30},
 {'name': 'flinkman', 'gender': None, 'probability': 0.0, 'count': 0}]

In [102]:
gender_result_first_name = genderize.get(list(cleaned_name_set))

In [105]:
gender_result_first_name_df = pd.DataFrame(gender_result_first_name)

In [106]:
gender_result_first_name_df.to_csv('/data02/MAG_PROCESSED_DATA/2019FILE/GENDERIZE_2019.csv',index_label=False)

In [119]:
gender_result_first_name_df[gender_result_first_name_df['probability']<0.6]

              name gender  probability  count
0                    None          0.0      0
1          marchev   None          0.0      0
2       bonnemaire   None          0.0      0
4         flinkman   None          0.0      0
5       oktriyanto   None          0.0      0
...            ...    ...          ...    ...
583322    гребнева   None          0.0      0
583323          로넨   None          0.0      0
583324       bulu'   None          0.0      0
583325         육재용   None          0.0      0
583327    pow-seng   None          0.0      0

[326105 rows x 4 columns]

In [112]:
gender_result_first_name_df

              name  gender  probability  count
0                     None         0.00      0
1          marchev    None         0.00      0
2       bonnemaire    None         0.00      0
3         philipps    male         0.73     30
4         flinkman    None         0.00      0
...            ...     ...          ...    ...
583326     wannipa  female         1.00     48
583327    pow-seng    None         0.00      0
583328     rosamia  female         0.82     11
583329      kanish    male         1.00     20
583330     paradee  female         0.97     38

[583331 rows x 4 columns]

In [124]:
gender_result_first_name_df = pd.read_csv('/data02/MAG_PROCESSED_DATA/2019FILE/GENDERIZE_2019.csv')

In [125]:
gender_result_first_name_df= gender_result_first_name_df[gender_result_first_name_df['name'].notna()]

In [126]:
gender_result_first_name_df

              name  gender  probability  count
1          marchev     NaN         0.00      0
2       bonnemaire     NaN         0.00      0
3         philipps    male         0.73     30
4         flinkman     NaN         0.00      0
5       oktriyanto     NaN         0.00      0
...            ...     ...          ...    ...
583326     wannipa  female         1.00     48
583327    pow-seng     NaN         0.00      0
583328     rosamia  female         0.82     11
583329      kanish    male         1.00     20
583330     paradee  female         0.97     38

[583328 rows x 4 columns]

In [127]:
def get_eng_not(name):
    name = re.sub(r"[^a-zA-Z0-9]","",name)

    if len(name)==0:
        return False
    else:
        return True

In [128]:
gender_result_first_name_df = gender_result_first_name_df[gender_result_first_name_df['name'].apply(lambda x: get_eng_not(x))]

In [130]:
gender_result_first_name_df

              name  gender  probability  count
1          marchev     NaN         0.00      0
2       bonnemaire     NaN         0.00      0
3         philipps    male         0.73     30
4         flinkman     NaN         0.00      0
5       oktriyanto     NaN         0.00      0
...            ...     ...          ...    ...
583326     wannipa  female         1.00     48
583327    pow-seng     NaN         0.00      0
583328     rosamia  female         0.82     11
583329      kanish    male         1.00     20
583330     paradee  female         0.97     38

[525358 rows x 4 columns]

In [137]:
def get_strange_character(name):
    if (',' in name) or ('(' in name) or (')' in name):
        return True
    else:
        return False
        #name = re.sub("\,|\(|\)","",name)

In [106]:
def get_real_name(name):
    if (',' in name):
        name = re.sub(",","",name)

    if ('(' in name):
        name = name.split('(')[1]

    if (')' in name):
        name = name.split(')')[0]
    
    
    if name in gender_result_first_name_df['name']:
        print(name)
        return '0'
    else:
        return name

In [107]:
gender_result_first_name_df_strange_name_sort = gender_result_first_name_df[gender_result_first_name_df['name'].apply(lambda x: get_strange_character(x))]['name'].apply(lambda x: get_real_name(x))

In [108]:
gender_result_first_name_df_strange_name_sort[gender_result_first_name_df_strange_name_sort =='0']

Series([], Name: name, dtype: object)

In [113]:
gender_result_first_name_df_strange_name_sort

111          tumiran
128         jeong-uk
214          elsbeth
220       byoungchae
293             sang
             ...
582492      min-seub
582512    seon-jeong
582612       hardman
582678         piard
582893    klingebiel
Name: name, Length: 6297, dtype: object

In [131]:
gender_result_first_name_df = gender_result_first_name_df[gender_result_first_name_df['name'].apply(lambda x: not get_strange_character(x))]

In [118]:
gender_result_first_strange_name = genderize.get(list(gender_result_first_name_df_strange_name_sort))

In [119]:
gender_result_first_strange_name_df = pd.DataFrame(gender_result_first_strange_name)

In [133]:
gender_result_first_name_df = pd.concat([gender_result_first_strange_name_df,gender_result_first_name_df])

In [138]:
def get_strange_character_2(name):
    if ("'" in name):
        return True
    else:
        return False
        #name = re.sub("\,|\(|\)","",name)

In [139]:
def get_real_name_2(name):
    if ("'" in name):
        name = re.sub("'","",name)
    
    if name in gender_result_first_name_df['name']:
        print(name)
        return '0'
    else:
        return name

In [142]:
gender_result_first_name_df_strange_name_sort = gender_result_first_name_df[gender_result_first_name_df['name'].apply(lambda x: get_strange_character_2(x))]['name'].apply(lambda x: get_real_name_2(x))

In [143]:
gender_result_first_name_df_strange_name_sort[gender_result_first_name_df_strange_name_sort =='0']

Series([], Name: name, dtype: object)

In [144]:
gender_result_first_name_df = gender_result_first_name_df[gender_result_first_name_df['name'].apply(lambda x: not get_strange_character_2(x))]

In [145]:
gender_result_first_name_df

              name  gender  probability  count
0          tumiran    male         1.00      6
1         jeong-uk    male         1.00      4
2          elsbeth  female         0.98    240
3       byoungchae    male         1.00      1
4             sang    male         0.88   4007
...            ...     ...          ...    ...
583326     wannipa  female         1.00     48
583327    pow-seng     NaN         0.00      0
583328     rosamia  female         0.82     11
583329      kanish    male         1.00     20
583330     paradee  female         0.97     38

[524065 rows x 4 columns]

In [147]:
gender_result_first_strange_name_comma = genderize.get(list(gender_result_first_name_df_strange_name_sort))

In [148]:
gender_result_first_strange_name_comma_df = pd.DataFrame(gender_result_first_strange_name_comma)

In [150]:
gender_result_first_strange_name_comma_df

               name gender  probability  count
0         dagostino   male         0.87     23
1     khoirurrojiin   None         0.00      0
2             maruf   male         0.97    478
3           alghani   male         1.00      6
4             rifai   male         0.90    115
...             ...    ...          ...    ...
1288        syaroni   male         1.00      1
1289          jaman   male         0.93    106
1290          eldar   male         0.99   1092
1291       xianglin   male         0.88      8
1292           bulu   male         0.89     72

[1293 rows x 4 columns]

In [151]:
gender_result_first_name_df = pd.concat([gender_result_first_strange_name_comma_df,gender_result_first_name_df])

In [153]:
gender_result_first_name_df[gender_result_first_name_df['probability']<0.7]

                 name  gender  probability  count
1       khoirurrojiin    None         0.00      0
8          lesperance  female         0.57      7
9               berte    male         0.54    159
12           dementev    None         0.00      0
14            shening    None         0.00      0
...               ...     ...          ...    ...
583316           zola    male         0.55   1235
583317      seemüller     NaN         0.00      0
583318       vantugas     NaN         0.00      0
583320        dulepov     NaN         0.00      0
583327       pow-seng     NaN         0.00      0

[288519 rows x 4 columns]

In [170]:
gender_result_first_name_df.to_csv('/data02/MAG_PROCESSED_DATA/2019FILE/GENDERIZE_2019.csv',index_label =False)

In [172]:
gender_result_first_name_df_csv = pd.read_csv('/data02/MAG_PROCESSED_DATA/2019FILE/GENDERIZE_2019.csv')

In [176]:
gender_result_first_name_df_csv[gender_result_first_name_df_csv['name'].isna()]

     name gender  probability  count
3732  NaN    NaN          0.0      0
5378  NaN    NaN          0.0      0
5511  NaN    NaN          0.0      0

In [189]:
gender_result_first_name_df_csv.reset_index(drop=True)

                 name  gender  probability  count
0           dagostino    male         0.87     23
1       khoirurrojiin     NaN         0.00      0
2               maruf    male         0.97    478
3             alghani    male         1.00      6
4               rifai    male         0.90    115
...               ...     ...          ...    ...
525353        wannipa  female         1.00     48
525354       pow-seng     NaN         0.00      0
525355        rosamia  female         0.82     11
525356         kanish    male         1.00     20
525357        paradee  female         0.97     38

[525358 rows x 4 columns]

# Wikigender

In [154]:
from Wiki_Gendersort.Wiki_Gendersort import name_to_gender

In [6]:
from multiprocessing import Pool

In [7]:
import os

In [90]:
import time
import re

In [200]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

/home/munj/anaconda3/lib/python3.7/site-packages/tqdm/std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [202]:
gender_result_first_name_df_csv = gender_result_first_name_df_csv[gender_result_first_name_df_csv.notna()]

In [204]:
gender_result_first_name_df_csv['gender'][:50]

0       male
1        UNK
2       male
3       male
4       male
5     female
6       male
7       male
8        UNK
9          F
10      male
11      male
12         M
13      male
14         M
15       NaN
16      male
17      male
18      male
19      male
20    female
21      male
22      male
23      male
24    female
25    female
26       NaN
27    female
28    female
29      male
30       NaN
31    female
32       NaN
33      male
34       NaN
35       NaN
36       NaN
37       NaN
38    female
39       NaN
40       NaN
41       NaN
42    female
43       NaN
44      male
45       NaN
46       NaN
47       NaN
48      male
49      male
Name: gender, dtype: object

In [201]:
gender_result_first_name_df_csv.loc[gender_result_first_name_df_csv['probability']<0.7,'gender']= gender_result_first_name_df_csv[gender_result_first_name_df_csv['probability']<0.7]['name'].progress_apply(lambda x: name_to_gender(x)[0])

  1%|          | 1905/288519 [25:34<81:00:01,  1.02s/it]

TypeError: object of type 'float' has no len()

In [72]:
gender_result_first_name_df['name'][350:400].progress_apply(lambda x: name_to_gender(x))

  0%|          | 0/50 [00:00<?, ?it/s]


  4%|▍         | 2/50 [00:01<00:32,  1.48it/s]


  6%|▌         | 3/50 [00:02<00:36,  1.30it/s]


  8%|▊         | 4/50 [00:04<00:53,  1.15s/it]


 10%|█         | 5/50 [00:05<00:48,  1.07s/it]


 12%|█▏        | 6/50 [00:06<00:45,  1.03s/it]


 14%|█▍        | 7/50 [00:07<00:42,  1.01it/s]


 16%|█▌        | 8/50 [00:08<00:46,  1.12s/it]


 18%|█▊        | 9/50 [00:10<00:50,  1.23s/it]


 20%|██        | 10/50 [00:11<00:48,  1.21s/it]


 22%|██▏       | 11/50 [00:12<00:44,  1.14s/it]


 24%|██▍       | 12/50 [00:13<00:40,  1.06s/it]


 26%|██▌       | 13/50 [00:13<00:37,  1.02s/it]


 28%|██▊       | 14/50 [00:14<00:35,  1.02it/s]


 30%|███       | 15/50 [00:15<00:33,  1.04it/s]


 32%|███▏      | 16/50 [00:17<00:36,  1.09s/it]


 36%|███▌      | 18/50 [00:18<00:29,  1.07it/s]


 38%|███▊      | 19/50 [00:19<00:28,  1.10it/s]


 40%|████      | 20/50 [00:20<00:27,  1.10it/s]


 42%|████▏     | 21/50 [00:21<00:27,  1.06it/s]


 44%|████▍     | 22/50 [00:21<00:25,  1.08it/s]


 46%|████▌     | 23/50 [00:23<00:28,  1.06s/it]


 48%|████▊     | 24/50 [00:24<00:31,  1.21s/it]


 50%|█████     | 25/50 [00:26<00:31,  1.27s/it]


 52%|█████▏    | 26/50 [00:27<00:32,  1.34s/it]


 54%|█████▍    | 27/50 [00:29<00:30,  1.31s/it]


 56%|█████▌    | 28/50 [00:29<00:25,  1.18s/it]


 58%|█████▊    | 29/50 [00:30<00:23,  1.10s/it]


 60%|██████    | 30/50 [00:31<00:21,  1.05s/it]


 62%|██████▏   | 31/50 [00:32<00:19,  1.05s/it]


 64%|██████▍   | 32/50 [00:33<00:18,  1.00s/it]


 66%|██████▌   | 33/50 [00:34<00:16,  1.01it/s]


 68%|██████▊   | 34/50 [00:35<00:15,  1.01it/s]


 70%|███████   | 35/50 [00:36<00:14,  1.03it/s]


 72%|███████▏  | 36/50 [00:38<00:16,  1.18s/it]


 74%|███████▍  | 37/50 [00:39<00:14,  1.12s/it]


 78%|███████▊  | 39/50 [00:40<00:10,  1.10it/s]


 80%|████████  | 40/50 [00:41<00:09,  1.05it/s]


 82%|████████▏ | 41/50 [00:41<00:08,  1.10it/s]


 84%|████████▍ | 42/50 [00:42<00:07,  1.13it/s]


 86%|████████▌ | 43/50 [00:44<00:07,  1.06s/it]


 90%|█████████ | 45/50 [00:45<00:04,  1.07it/s]


 92%|█████████▏| 46/50 [00:46<00:03,  1.10it/s]


 94%|█████████▍| 47/50 [00:47<00:02,  1.12it/s]


 96%|█████████▌| 48/50 [00:48<00:02,  1.04s/it]


100%|██████████| 50/50 [00:50<00:00,  1.02s/it]

351    (UNK, sarathchandra\n1\nsarathchandra = 0H 0F\...
352    (UNK, kongde\n1\nkongde = 0H 0F\n2021-11-07 15...
353    (UNK, bollard\n1\nbollard = 0H 0F\n2021-11-07 ...
354    (F, solvita\n1\nsolvita = 0H 0F\n2021-11-07 15...
355    (UNK, zhuochun\n1\nzhuochun = 0H 0F\n2021-11-0...
356    (UNK, gwangrok\n1\ngwangrok = 0H 0F\n2021-11-0...
357    (M, ardianto\n1\nardianto = 0H 0F\n2021-11-07 ...
358    (UNK, tejero\n1\ntejero = 0H 0F\n2021-11-07 15...
359    (F, noorzaily\n1\nnoorzaily = 0H 0F\n2021-11-0...
360    (UNK, christudas\n1\nchristudas = 0H 0F\n2021-...
361    (UNK, колотницький\n1\nколотницький = 0H 0F\n2...
362    (UNK, doudart\n1\ndoudart = 0H 0F\n2021-11-07 ...
363    (UNK, knoedgen\n1\nknoedgen = 0H 0F\n2021-11-0...
364    (UNK, namkwon\n1\nnamkwon = 0H 0F\n2021-11-07 ...
365    (M, guss\n1\nguss = 0H 0F\n2021-11-07 15:18:21...
366    (INI, 제혜금\nname is initials\n2021-11-07 15:18:...
367    (UNK, divay\n1\ndivay = 0H 0F\n2021-11-07 15:1...
368    (UNK, shumani\n1\nshumani = 0H 0F\n2021-11-07 ...
369    (UNK, rêmulo\n1\nrêmulo = 0H 0F\n2021-11-07 15...
370    (F, jim-yuh\n1\njim-yuh = 0H 0F\n2021-11-07 15...
371    (UNK, spinillo\n1\nspinillo = 0H 0F\n2021-11-0...
372    (F, taira\n1\ntaira = 0H 0F\n2021-11-07 15:18:...
373    (UNK, medellín\n1\nmedellín = 0H 0F\n2021-11-0...
374    (UNK, bistro\n1\nbistro = 0H 0F\n2021-11-07 15...
375    (UNK, jan-louise\n1\njan-louise = 0H 0F\n2021-...
376    (M, shaowei\n1\nshaowei = 0H 0F\n2021-11-07 15...
377    (UNK, munetsugu\n1\nmunetsugu = 0H 0F\n2021-11...
378    (UNK, feigenbutz\n1\nfeigenbutz = 0H 0F\n2021-...
379    (UNK, sinmanat\n1\nsinmanat = 0H 0F\n2021-11-0...
380    (M, prikryl\n1\nprikryl = 0H 0F\n2021-11-07 15...
381    (UNK, кислинська\n1\nкислинська = 0H 0F\n2021-...
382    (UNK, синити\n1\nсинити = 0H 0F\n2021-11-07 15...
383    (UNK, geuss\n1\ngeuss = 0H 0F\n2021-11-07 15:1...
384    (UNK, micout\n1\nmicout = 0H 0F\n2021-11-07 15...
385    (UNK, book\n1\nbook = 0H 0F\n2021-11-07 15:18:...
386    (UNK, мосієнко\n1\nмосієнко = 0H 0F\n2021-11-0...
387    (INI, 미치오\nname is initials\n2021-11-07 15:18:...
388    (UNK, gladysani\n1\ngladysani = 0H 0F\n2021-11...
389    (M, corne\n1\ncorne = 0H 0F\n2021-11-07 15:18:...
390    (UNK, noisshiki\n1\nnoisshiki = 0H 0F\n2021-11...
391    (UNK, renolf\n1\nrenolf = 0H 0F\n2021-11-07 15...
392    (F, devrim\n1\ndevrim = 0H 0F\n2021-11-07 15:1...
393    (INI, 이정은\nname is initials\n2021-11-07 15:18:...
394    (F, ildebrando\n1\nildebrando = 0H 0F\n2021-11...
395    (UNK, ditges\n1\nditges = 0H 0F\n2021-11-07 15...
396    (UNK, alhaynurika\n1\nalhaynurika = 0H 0F\n202...
397    (M, murlis\n1\nmurlis = 0H 0F\n2021-11-07 15:1...
398    (UNK, madhubani\n1\nmadhubani = 0H 0F\n2021-11...
399    (INI, 河添\nname is initials\n2021-11-07 15:18:5...
400    (UNK, vardipilcan\n1\nvardipilcan = 0H 0F\n202...
Name: name, dtype: object

In [77]:
import parmap

In [78]:
os.cpu_count()

72

In [79]:
result = parmap.map(name_to_gender, gender_result_first_name_df['name'][450:500], pm_pbar=True, pm_processes='10')

/home/munj/anaconda3/lib/python3.7/site-packages/parmap/parmap.py:120: UserWarning: '<' not supported between instances of 'str' and 'int'
  warnings.warn(str(exc))

HBox(children=(IntProgress(value=0, max=50), HTML(value='')))

In [83]:
import tqdm

In [84]:
y = parmap.map(np.sqrt, [1,2,3], pm_pbar=True)

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

In [85]:
y

[1.0, 1.4142135623730951, 1.7320508075688772]